<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Angadi</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>angadi</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSApplicationQueriesSchemes</key>
        <array>
          <string>https</string>
          <string>http</string>
        </array>
	<key>CFBundleURLTypes</key>

	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.691892152218-alsh87maju8ut429h26vbb0b17ckvsii</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>This app requires access to the camera to capture your image for profile photo.</string>
	<key>NSLocalizedDescription</key>
	<string>This app requires access to the local storage for picking up photograph for your profile.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs access to location when open and in the background to fetch your location in realtime so we can show products according to your location and adjust delivery charges and time according to where you live. For example- If you live in Sharjah then we show you the products available in the nearest restaurant and while deciding your delivery slot we take in account how far away you are from the restaurant. To provide easiness to you we auto detect your address using your current location, however you can also edit it if you want. We use your address to deliver the product to you.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app needs access to location when in the background to fetch your location in realtime so we can show products according to your location and adjust delivery charges and time according to where you live.  For example- If you live in Sharjah then we show you the products available in the nearest restaurant and while deciding your delivery slot we take in account how far away you are from the restaurant. To provide easiness to you we auto detect your address using your current location, however you can also edit it if you want. We use your address to deliver the product to you.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to location when open to fetch your location in realtime so we can show products according to your location and adjust delivery charges and time according to where you live.  For example- If you live in Sharjah then we show you the products available in the nearest restaurant and while deciding your delivery slot we take in account how far away you are from the restaurant. To provide easiness to you we auto detect your address using your current location, however you can also edit it if you want. We use your address to deliver the product to you.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app does not require access to the microphone.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to the photo library for picking up your photograph for profile image.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
